* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #0c1022;
    color: #fff;

}

.hamburger {
    display: none;
}

.logo {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    pointer-events: none;
    text-decoration: none;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    margin-right: 200px;
    width: 100%;
    padding: 20px 10%;
    background: #0c1022;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    font-size: 18px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin-left: 35px;
    font-family: cursive;
    display: block;
}

.navbar a.active,
.navbar a:hover {
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.home {
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 60px 8% 0;
}

.resume {
    max-width: 600px;
    margin-left: 200px;
    margin-top: 100px;
}

.resume button {
    width: 200px;
    height: 50px;
    text-align: left;
    position: relative;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 3px 3px #563dd7;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding-left: 20px;
    box-sizing: border-box;
}

button:hover {
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.space {
    width: 500px;
}

.home-sci {
    position: fixed;
}

.home-sci a {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #f06, #3cf);
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    z-index: 1;
}

.home-sci a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f06, #3cf);
    border-radius: 50%;
    z-index: -1;
    transition: 0.5s ease;
}

.home-sci a:hover::before {
    filter: blur(5px);
}

.home-sci a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0c1022;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: 0.5s ease;
}

.home-sci a:hover::after {
    transform: scale(0);
}

.home-content {
    margin-top: 200px;
    max-width: 600px;
    margin-left: 100px;
    font-family: cursive;
}

.home-content h1 {
    font-size: 47px;
    font-weight: 600;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 25px;
    font-weight: 600;
}

.home-img {
    width: 410px;
    height: 410px;
}

.home-img .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img .glowing-circle::after {
    position: absolute;
    content: '';
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;
}

.glowing-circle .image {
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.glowing-circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f06, #3cf);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}

.glowing-circle span:nth-child(1) {
    filter: blur(10px);
}

.image img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    /* height: 600px; */
    object-fit: cover;
}

.about-content {
    margin-left: 200px;
    margin-top: 100px;
    height: 500px;
}

.about-content h2 {
    font-family: cursive;
    font-size: 25px;
    font-weight: 600;
    margin-left: 500px;
    line-height: 1.2;
    background: linear-gradient(45deg, #3cf, #f06);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.about-content p {
    max-width: 800px;
    /* font-size: 16px; */
    margin-left: 150px;
    margin-top: 70px;
    text-align: center;
    justify-content: space-between;
    font-family: monospace;
    font-size: 20px;

}

@keyframes circleRotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}

/*skills*/

.skills {
    /* width: 100%; */
    margin-left: 110px;
    margin-top: 100px;
    /* padding: 5rem 0; */
    /* margin-top: 50px; */
}

.skills h1 {
    background: linear-gradient(45deg, #3cf, #f06);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: cursive;
    text-align: center;
    margin-top: 50px;
}

.skill-content {
    padding: 0 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
    flex-wrap: wrap;
}

.skill {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: #fff solid 0.2px;
    border-radius: 20px;
    margin: 2.5rem;
    width: 400px;
    padding-left: 1rem;
    background-color: hwb(0 17% 80% / 0.437)
}

.skill-icon {
    width: 80px;
    height: 80px;
    padding: 10px;
}

.bar {
    /* position: relative; */
    border: 1px solid #fff;
    margin-right: 30px;
    border-radius: 10px;
    width: 75%;
    height: 14px;
}

.bar div {
    position: relative;
    width: 0;
    height: 11px;
    border-radius: 10px;
    background: linear-gradient(45deg, #3cf, #f06);
    -webkit-text-fill-color: transparent;
}

#java-bar {
    animation: java-fill 2s forwards;
}

@keyframes java-fill {
    100% {
        width: 85%;
    }
}

#kot-bar {
    animation: kot-fill 2s forwards;
}

@keyframes kot-fill {
    100% {
        width: 40%;
    }
}

#html-bar {
    animation: html-fill 2s forwards;
}

@keyframes html-fill {
    100% {
        width: 90%;
    }
}

#css-bar {
    animation: css-fill 2s forwards;
}

@keyframes css-fill {
    100% {
        width: 75%;
    }
}

#js-bar {
    animation: js-fill 2s forwards;
}

@keyframes js-fill {
    100% {
        width: 50%;
    }
}

#react-bar {
    animation: react-fill 2s forwards;
}

@keyframes react-fill {
    100% {
        width: 20%;
    }
}

#c-bar {
    animation: c-fill 2s forwards;
}

@keyframes c-fill {
    100% {
        width: 70%;
    }
}

/* professional*/

#conn-bar {
    animation: conn-fill 2s forwards;
}

@keyframes conn-fill {
    100% {
        width: 85%;
    }
}

#tw-bar {
    animation: tw-fill 2s forwards;
}

@keyframes tw-fill {
    100% {
        width: 90%;
    }
}

#mng-bar {
    animation: mng-fill 2s forwards;
}

@keyframes mng-fill {
    100% {
        width: 70%;
    }
}

#cr-bar {
    animation: cr-fill 2s forwards;
}

@keyframes cr-fill {
    100% {
        width: 60%;
    }
}

#comm-bar {
    animation: comm-fill 2s forwards;
}

@keyframes comm-fill {
    100% {
        width: 80%;
    }
}

/* Education */
.edu {
    margin-top: 100px;
    /* align-items: center; */
    text-align: center;
    height: 800px;
    margin-left: -10px;
}

.edu h2 {
    background: linear-gradient(45deg, #3cf, #f06);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: cursive;
    margin-top: 20px;
    margin-bottom: 100px;
}

.edu h3 {
    font-family: cursive;
    margin-top: 20px;
    margin-bottom: 20px;
}

.edu p,
.por p {
    margin-top: 20px;
    max-width: 700px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    margin-left: 400px;
    justify-content: space-between;
    font-family: monospace;
    font-size: 20px;
}

/* ------------POR------------- */
.por {
    text-align: center;
    height: 500px;
}

.por h2 {
    font-family: cursive;
    margin-bottom: 50px;
    background: linear-gradient(45deg, #3cf, #f06);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* --------------contact--------------------*/
.con {
    text-align: center;
    /* height: 300px; */
}

.con button {
    margin-left: 20px;
    width: 400px;
    height: 50px;
    text-align: left;
    position: relative;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 3px 3px #aaa;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding-left: 20px;
    box-sizing: border-box;
}

.con h2 {
    font-family: cursive;
    margin-bottom: 50px;
    background: linear-gradient(45deg, #3cf, #f06);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.hamburger:hover {
    background: #f6f4ff;

}

.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #daddee;
}

/* **********************************RESPOSIVE******************************************** */
@media only screen and (max-width: 1320px) {
    .header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    .header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    body {
        background-color: #0c1022;
        color: #fff;

    }

    .home-content {
        margin-top: 200px;
        max-width: 400px;
        /* margin-left: 100px; */
        font-family: cursive;
    }

    .home-content h1 {
        margin-left: -20px;
        font-size: 27px;
        font-weight: 600;
        line-height: 1.2;
    }

    .home-content h3 {
        font-size: 12px;
        font-weight: 600;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px;
    }

    .navbar {
        width: 0px;
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #0c1022;
        background: transparent;
        transition: 0.2s;
        overflow: hidden;

    }

    .navbar.active {
        height: 450px;
    }

    .navbar ul {
        display: block;
        width: fit-content;
        margin: 30px auto 0 auto;
        margin-bottom: 1px;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .navbar.active ul {
        opacity: 1;
    }

    .navbar ul a {
        margin-bottom: 12px;
        color: red;
    }

    .resume {
        max-width: 600px;
        margin-left: 50px;
        margin-top: 50px;
    }

    .resume button {
        width: 150px;
        height: 50px;
        text-align: left;
        position: relative;
        border: none;
        outline: none;
        border-radius: 10px;
        box-shadow: 0 3px 3px #563dd7;
        margin-top: 2px;
        font-size: 20px;
        font-weight: bold;
        color: #333;
        padding-left: 20px;
        box-sizing: border-box;
    }

    .home-img {
        width: 330px;
        height: 330px;
        margin-top: 800px;
        margin-left: -210px;
    }

    .home-img .glowing-circle {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-img .glowing-circle::after {
        position: absolute;
        content: '';
        width: 300px;
        height: 300px;
        background: #0c1022;
        border-radius: 50%;
    }

    .glowing-circle .image {
        position: relative;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        z-index: 1;
        overflow: hidden;
    }

    .glowing-circle span {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #f06, #3cf);
        border-radius: 50%;
        animation: circleRotate 5s linear infinite;
    }

    .glowing-circle span:nth-child(1) {
        filter: blur(10px);
    }

    .image img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 400px;
        /* height: 600px; */
        object-fit: cover;
    }

    /* about */
    .about-content {
        margin-left: 130px;
        margin-top: 300px;
        height: 500px;
    }

    .about-content h2 {
        font-family: cursive;
        font-size: 25px;
        font-weight: 600;
        margin-left: 100px;
        line-height: 1.2;
        background: linear-gradient(45deg, #3cf, #f06);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    .about-content p {
        max-width: 800px;
        /* font-size: 16px; */
        margin-left: 20px;
        margin-top: 70px;
        text-align: center;
        justify-content: space-between;
        font-family: monospace;
        font-size: 20px;

    }

    /*skills*/

    .skills {
        margin-left: 110px;
        margin-top: 570px;
    }

    .skill-content {
        padding: 0 5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-basis: 50%;
        flex-wrap: wrap;
    }

    .skill {
        margin-left: -200px;
        width: 100%;
        display: block;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        border: #fff solid 0.2px;
        border-radius: 20px;
        margin: 10px;
        width: 500px;
        padding-left: -100px;
        background-color: hwb(0 17% 80% / 0.437)
    }

    .skill-icon {
        width: 80px;
        height: 80px;
        padding: 10px;
    }

    .bar {
        /* position: relative; */
        border: 1px solid #fff;
        margin-right: 10px;
        border-radius: 20px;
        width: 75%;
        height: 16px;
    }

    .bar div {
        position: relative;
        width: 0;
        height: 14px;
        border-radius: 10px;
        background: linear-gradient(45deg, #3cf, #f06);
        -webkit-text-fill-color: transparent;
    }

    /*************** Education ***************/
    .edu {
        margin-top: 100px;
        text-align: center;
        height: 800px;
        margin-left: -10px;
    }

    .edu h2 {
        background: linear-gradient(45deg, #3cf, #f06);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-family: cursive;
        margin-top: 20px;
        margin-bottom: 100px;
    }

    .edu h3 {
        font-family: cursive;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .edu p,
    .por p {
        margin-top: 20px;
        max-width: 700px;
        margin-bottom: 10px;
        align-items: center;
        text-align: center;
        margin-left: 100px;
        justify-content: space-between;
        font-family: monospace;
        font-size: 20px;
    }

    /* ------------POR------------- */
    .por {
        text-align: center;
        height: 500px;
    }

    .por h2 {
        margin-left: 70px;
        font-family: cursive;
        margin-bottom: 50px;
        background: linear-gradient(45deg, #3cf, #f06);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    /* --------------contact--------------------*/
    .con {
        margin-top: 180px;
        text-align: center;
        /* height: 300px; */
    }

    .con button {
        margin-left: 20px;
        width: 400px;
        height: 50px;
        text-align: left;
        position: relative;
        border: none;
        outline: none;
        border-radius: 10px;
        box-shadow: 0 3px 3px #aaa;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: bold;
        color: #333;
        padding-left: 20px;
        box-sizing: border-box;
    }

    .con h2 {
        font-family: cursive;
        margin-bottom: 50px;
        background: linear-gradient(45deg, #3cf, #f06);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}